'atom-text-editor':
  'alt-j': 'core:move-left'
  'alt-l': 'core:move-right'
  'alt-i': 'core:move-up'
  'alt-k': 'core:move-down'
  'alt-h': 'editor:move-to-first-character-of-line'
  'alt-;': 'editor:move-to-end-of-screen-line'
  'alt-u': 'core:page-up'
  'alt-m': 'core:page-down'
  'ctrl-alt-x': 'autoprefixer'
  'ctrl-alt-,': 'unset!'
  'ctrl-alt-[': 'unset!'
  'ctrl-alt-]': 'unset!'
  'shift-backspace': 'editor:delete-to-beginning-of-word'
